<nav class="absolute top-0 right-0 left-0 h-[50px] flex flex-row items-center text-white bg-gray-500 px-5">
    <a href="/" class="font-bold left-0 text-xl">Currency Converter</a>
    <div class="flex flex-row absolute right-1 text-base">
        <div *ngFor="let currency of currencies | filterCurrencies currency" class="ml-2">
            <div *ngIf="currency.cc === 'USD'">
                <p class="mr-2">{{currency.cc}}: {{currency.rate | currency: '₴'}}</p>
            </div>
            <div *ngIf="currency.cc === 'EUR'">
                <p class="mr-2">{{currency.cc}}: {{currency.rate | currency: '₴'}}</p>
            </div>
        </div>
    </div>
</nav>